/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper {
    max-width: 62.5rem;
    height: auto;
    padding: 20px 20px 100px 20px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;

}

#slider {
    position: relative;
    text-align: center;
    top: 10px;
}

#slider {
    margin: 0 auto;
}

#slides div div {
    width: 20%;
    float: left;
}

#slides .image {
    width: 500%;
    line-height: 0;

}

#slides__picture {
    width: 100%;
    overflow: hidden;
}

div img {
    width: 100%;
    border-radius: 1%;

}

#slides__quote div div {
    width: 20%;
    float: left;
}

#slides__quote .quote {
    width: 500%;
    line-height: 0;
}

#slides__quote-text {
    width: 100%;
    overflow: hidden;
}

div p {
    width: 100%;
    text-align: left;
    font-family: 'Lato';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #ffffff;
}

#desktop:checked ~ #slider {
    max-width: 60rem;
}

label, a {
    cursor: pointer;
}

.wrapper input {
    display: none;
}

#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}

#switch4:checked ~ #slides .image {
    margin-left: -300%;
}

#switch5:checked ~ #slides .image {
    margin-left: -400%;
}

#slides__quote {
    max-width: 50%;
    float: left;
    margin: 1% 0 0;
}

#switch1:checked ~ #slides__quote .quote {
    margin-left: 0;
}

#switch2:checked ~ #slides__quote .quote {
    margin-left: -100%;
}

#switch3:checked ~ #slides__quote .quote {
    margin-left: -200%;
}

#switch4:checked ~ #slides__quote .quote {
    margin-left: -300%;
}

#switch5:checked ~ #slides__quote .quote {
    margin-left: -400%;
}

#active label {
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #0969da;
    margin-left: 5px;
}

#active {
    max-width: 50%;
    margin: 2% 0 0;
    float: right;
    /*text-align: center;*/
}

#active label:hover {
    background: #ffffff;
    border-color: #ffffff !important;
    transition: background 0.5s ease 0s;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: black;
    border: 2px solid #0969da;
    transition: border 0.5s ease 0s;

}

#slides .image {
    transition: all 900ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides__quote .quote {
    transition: all 900ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@media screen and (max-width: 33.75rem) {

    .wrapper {
        padding: 20px 20px 80px 20px;
    }
}

@media screen and (max-width: 33.75rem) {

    div p {
        font-size: 18px;
    }

}

@media screen and (max-width: 24.375rem) {
    #slides__quote {
        max-width: 100%;
        margin: 1% 0 0;
    }

    div p {
        font-size: 15px;
    }

    #active {
        max-width: 100%;
        margin: 2% 0 0;
        float: none;
    }

    #active label {
        width: 10px;
        height: 10px;

    }

    .wrapper {
        padding: 20px 20px 60px 20px;

    }
}